<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting</title>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const code = urlParams.get('code');

        // Switch this to public URL instead of testing URL 
        const url = 'http://localhost:6969/startAuth';
        fetch(url, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                code: code
            })
        }).then(res => { console.log(res); })
        .catch(err => console.error(err) );

    </script>
</head>
<body>
    <a href="https://accounts.google.com/o/oauth2/v2/auth?access_type=offline&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fyoutube&include_granted_scopes=true&response_type=code&client_id=589007273256-pdn64satif9b86up211v76atfahcnn77.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A6969%2FgoogleCallback">Click here to finish converting playlist</a>
</body>
</html>
