/* hex 121212 */

nav.navbar {
  background-color: #121212 !important;
}

a.nav-link {
  font-weight: 500;
  margin-left: 50px;
  font-size: 20px;
}

/* Banner Styles */

#banner {
  background-color: #383838 !important;
}

#banner > .row {
  align-items: center;
  justify-content: center;
}

#banner > .row > .col:first-of-type {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
}

#banner > .row > .col:last-of-type {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

#SpotifyText {
  color: #1ed760;
}

#YouTubeText {
  color: #ff0000;
}

#mainText {
  font-size: 500%;
}

#Text2 {
  color: white;
}

@media only screen and (max-width: 1040px) {
  #banner > .row > .col:first-of-type {
    display: none;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  #banner > .row > .col:last-of-type {
    display: none;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  
  #banner {
    justify-content: center;
    align-content: center;
  }

  #banner > .row > .col:nth-of-type(2) {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }

  #mainText {
    font-size: 400%;
  }
}

/* Home Container Styling */

#homeContainer > .row {
    margin-left: 20%;
    margin-right: 20%;
}

#homeContainer > .row > .col > p {
    font-size: 25px;
}

/* About Container Styling */

#aboutContainer {
  background-color: #e3e3e3;
}

#aboutContainer > .row {
  margin-left: 15%;
  margin-right: 15%;
}

#aboutContainer > .row > .col > p {
  font-size: 25px;
}

/* Convert Container Styles */

#convert > .row > .col {
  text-align: center;
}

#convert > .row > .col > ol {
  display: inline-block;
  text-align: left;
}

#spotifyURI {
  width: 30% !important;
  margin-left: auto;
  margin-right: auto;
}

.alert {
  margin: 0 !important;
}
